<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-md-12" *ngIf="processType==='manage'">
                <div class="card">
                    <form #form="ngForm" class="form-horizontal" autocomplete="off" novalidate>
                        <div class="card-header card-header-text" data-background-color="rose">
                            <h4 class="card-title">Outlet Elements</h4>
                        </div>
                        <div class="card-content">
                        <!-- {{dataModel | json}}
                        {{hubList | json}} -->
                            <div class="row">
                                <label class="col-sm-3 label-on-left">Name:</label>
                                <div class="col-md-7 col-sm-9">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" #name="ngModel" name="name" value="" required="" [(ngModel)]="dataModel.name" >
                                        <span class="help-block">Enter Outlet Name</span>
                                        <small [hidden]="name.valid || (name.pristine && !form.submitted)" class="text-danger pull-right"> Name must be filled. </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 label-on-left">Outlet Type:</label>
                                <div class="col-sm-9">
                                    <div class="form-group label-floating is-empty">
                                        <div class="radio radio-inline">
	                                        <label>
	                                            <input type="radio" name="outlet_type" [(ngModel)]="dataModel.outletType" required="" value="psk" #outletType="ngModel" >PSK
	                                        </label>
	                                    </div>
	                                    <div class="radio radio-inline">
	                                        <label>
	                                            <input type="radio" name="outlet_type" [(ngModel)]="dataModel.outletType" value="coco" required="" #outletType="ngModel" >COCO
	                                        </label>
	                                    </div>
	                                    <div class="radio radio-inline">
	                                        <label>
	                                            <input type="radio" name="outlet_type" [(ngModel)]="dataModel.outletType" value="foco" required="" #outletType="ngModel" >FOCO
	                                        </label>
	                                    </div>
	                                    <div class="radio radio-inline">
	                                        <label>
	                                            <input type="radio" name="outlet_type" [(ngModel)]="dataModel.outletType" value="fofo" required="" #outletType="ngModel" >FOFO
	                                        </label>
	                                    </div>
	                                    <div class="radio radio-inline">
	                                        <label>
	                                            <input type="radio" name="outlet_type" [(ngModel)]="dataModel.outletType" value="odc" required="" #outletType="ngModel" >ODC
	                                        </label>
	                                    </div>

                                        <small [hidden]="outletType.valid || (outletType.pristine && !form.submitted)" class="text-danger pull-right"> Outlet Type must be filled. </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 label-on-left">Purchase Type:</label>
                                <div class="col-sm-9">
                                    <div class="form-group label-floating is-empty">
                                        <div class="radio radio-inline">
	                                        <label>
	                                            <input type="radio" name="purchase_type" [(ngModel)]="dataModel.purchaseType" value="internal" required="" #purchaseType="ngModel" >Internal
	                                        </label>
	                                    </div>
	                                    <div class="radio radio-inline">
	                                        <label>
	                                            <input type="radio" name="purchase_type" [(ngModel)]="dataModel.purchaseType" value="external" required="" #purchaseType="ngModel" >External
	                                        </label>
	                                    </div>

                                        <small [hidden]="purchaseType.valid || (purchaseType.pristine && !form.submitted)" class="text-danger pull-right"> Purchase Type must be filled. </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 label-on-left">Tin Number:</label>
                                <div class="col-md-7 col-sm-9">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" #tin="ngModel" name="tin" value="" required="" [(ngModel)]="dataModel.tin" >
                                        <span class="help-block">Enter Tin Number</span>
                                        <small [hidden]="tin.valid || (tin.pristine && !form.submitted)" class="text-danger pull-right"> Tin must be filled. </small>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 label-on-left">Address:</label>
                                <div class="col-md-7 col-sm-9">
                                    <div class="form-group label-floating is-empty">
    	                                <textarea class="form-control" [(ngModel)]="dataModel.address" #address="ngModel" required="" name="address"></textarea>
        	                            <span class="help-block">Enter Address</span>
                                        <small [hidden]="address.valid || (address.pristine && !form.submitted)" class="text-danger pull-right"> Address must be filled. </small>
	                                </div>
                                </div>
                            </div>
                            <div class="row" >
                                <label class="col-sm-3 label-on-left">Select Hub:</label>
                                <div class="col-md-7 col-sm-9">
                                    <div class="form-group"><!-- class="selectpicker" data-style="select-with-transition "-->
    	                                <select title="Choose Hub" class="form-control" [(ngModel)]="dataModel.hub" name="hubpicker" #hub="ngModel" >
                                            <option disabled value=""> Choose Hub</option>
                                            <option *ngFor="let hlist of hubList; let count = index; " [ngValue]="hlist._id">{{hlist.name}}</option>
                                            
                                        </select>
                                        <small [hidden]="hub.valid || (hub.pristine && !form.submitted)" class="text-danger pull-right"> Hub must be Selected. </small>
	                                </div>
                                </div>
                            </div>
                            <div class="row" >
                                <label class="col-sm-3 label-on-left">Approval List:</label>
                                <div class="col-md-7 col-sm-9">
                                    <div class="form-group">
    	                                <select class="selectpicker" data-style="select-with-transition" multiple title="Choose Approvals" data-size="7" [(ngModel)]="dataModel.approvalList" name="approvalpicker" #approval="ngModel" >
                                            <option disabled> Choose Approvals</option>
                                            <option *ngFor="let list of approvalList;" [ngValue]="list.key">{{list.title}}</option>
                                        </select>
	                                </div>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-3 label-on-left">Registered with GST:</label>
                                <div class="col-md-7 col-sm-9">
                                    <div class="form-group">
	                                    <div class="radio radio-inline">
	                                        <label>
	                                            <input type="radio" name="is_gst_registered" (ngModelChange)="resetInput()" [(ngModel)]="dataModel.gstStatus" value="yes" #gstLocalModel="ngModel" >Yes
	                                        </label>
	                                    </div>
	                                    <div class="radio radio-inline">
	                                        <label>
	                                            <input type="radio" name="is_gst_registered" (ngModelChange)="resetInput()" [(ngModel)]="dataModel.gstStatus" value="no" #gstLocalModel="ngModel"> No
	                                        </label>
	                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="dataModel.gstStatus==='yes'">
                                <label class="col-sm-3 label-on-left">GST Registration No:</label>
                                <div class="col-md-7 col-sm-9">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" required="" name="gst_no" [(ngModel)]="dataModel.gstno" value="" #gstValue="ngModel">
                                        <span class="help-block">Enter GST No For Hub</span>
                                        <small [hidden]="gstValue.valid || (gstValue.pristine && !form.submitted)" class="text-danger pull-right"> GST must be filled if it is registered with GST. </small>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row text-center form-group">
                            	<button class="btn btn-success" (click)="saveForm(form)" >
	                                <i class="material-icons">check</i>Submit
		                        </button>
		                        <button type="button" class="btn btn-danger" (click)="resetModels()" >
		                            <i class="material-icons">close</i> Cancel
		                        </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12" *ngIf="processType==='view'">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Hub List</h4>
                        <div class="table-responsive">
                        
                            <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                          <th class="text-center">{{ outletData.headerRow[0] }}</th>
                                          <th>{{ outletData.headerRow[1] }}</th>
                                          <th>{{ outletData.headerRow[2] }}</th>
                                          <th>{{ outletData.headerRow[3] }}</th>
                                          <th>{{ outletData.headerRow[4] }}</th>
                                          <th>{{ outletData.headerRow[5] }}</th>
                                          <th>{{ outletData.headerRow[6] }}</th>
                                        </tr>
                                    </thead>
                                  <tbody>
                                      <tr *ngFor="let row of outletData.dataRows; let count = index; ">
                                          <td class="text-center">{{count+1}}</td>
                                          <td>{{row.name}}</td>
                                          <td>{{assignedHub(row.hub)}}</td>
                                          <td>{{row.address}}</td>
                                          <td>{{assignedApprovals(row.approvalList)}}</td>
                                          <td>{{row.gstno}}</td>
                                          <td class="td-actions">
                                              <button type="button" rel="tooltip" class="btn btn-success" (click)="editOutlet(row._id)">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button type="button" rel="tooltip" class="btn btn-danger" (click)="deleteOutlet(row._id)">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td>
                                      </tr>
                                  </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
